<html>
    <head>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/project.css">
        <link rel="stylesheet" href="/css/signin.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/projectdetail.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.rtl.min.css" integrity="sha512-wO8UDakauoJxzvyadv1Fm/9x/9nsaNyoTmtsv7vt3/xGsug25X7fCUWEyBh1kop5fLjlcrK3GMVg8V+unYmrVA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title><%= title%></title>
        <!-- Add this to your HTML file -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css" />

    </head>

    <body>
        <%- include('header.ejs'); %> 
        <%- body %>
        <%- include('footer.ejs'); %>
        <script src="/js/projectdetail.js"></script>
    </body>
</html>