<!-- 
    <h1>Admin-Section</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    
    <label for="role"></label>
        <select name="role" id="role" style="display: none;" required>
            <option value="admin">Admin</option>
            <option value="employee">Employee</option>
        </select>
    <input type="submit" value="Add-Admin">
</form>
<a href="/users/signin">Admin/Employee Signin</a><br><hr>


<a href="/users/auth/google">Google SignIN/SignUP</a> -->